H1{
    color: greenyellow;
    text-align: center;
    font-size: 100px;
    font-family: 'Tilt Prism', cursive;
}
th{
    color: greenyellow;
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik Iso', cursive;
}
img{
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: black;
}
table{
    border-color: greenyellow;
}
.img{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content:end;
    border-color: greenyellow;
    
}